@import "variables";
@import "~bulma";

body {

}

p {
  margin-bottom: 5px;
}

input,
label {
  &.radio {
    margin-right: 5px;
  }
}

.pr-1 {
  padding-right: 1rem;
}

.menu-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}